:root{
    --first-color:#345B63;
    --second-color:#D4ECDD;
    --shadow: 5px 5px 10px rgba(0,0,0,0.3);
    --radius :10px;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
h1 ,h2, h3, p{
    
    text-align: center;
}
h1{
    margin-top:100px ;
     color: var(--first-color);
}
.btnPlaceHolder{
display: flex;
justify-content:center;
}
.contactMe{
    padding: 10px 15px;
    background-color: var(--first-color);
    color: var(--second-color);
    border-radius: var(--radius);
    text-decoration: none;
    margin: 40px 20px 0 0 ;
    box-shadow: var(--shadow);

    
}
.aboutMe{
    
    padding: 10px 15px;
    background-color: var(--second-color);
    color: var(--first-color);
    border-radius: var(--radius);
    text-decoration: none;
    margin: 40px 0 0 20px ;
    box-shadow: var(--shadow);
}
.back{
    display: block;
    margin-top: 0 auto;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    color: blue;
    font-weight: bold;
    font-size: 14px;
}
.textPlaceHolder{
    display: flex;
    justify-content: center;

}
span{
    background-color: var(--second-color);
    line-height: 30px;
    border-radius: var(--radius);
    margin: 10px 40px;
    padding: 40px;
    text-align: center;
    color: var(--first-color);
}
.mail{
text-decoration: none;
display: block;
margin: 0 auto;
text-align: center;
margin-bottom: 100px;

}